<p>hijab arab</p>
<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="assets/logo2.jpg">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">hijab arab<i
        class="material-icons right">more_vert</i></span>
    <p><a href="#">beli sekarang</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>hijab arab</span>
    <p>harga: Rp.75.000</p>
    <p>Bahan : kain voile</p>
    <p> Warna : pink</p>
    <p>Ukuran: XL,M,L,S</p>
    <p>Stock : 17pcs</p>
  </div>
</div>