<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">home</a></li>
      <li><a href="produck.html">produk</a></li>
      <li><a href="kontak.html">kontak</a></li>
      <li><a href="tentangkami.html">tentang kami</a></li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card small">

        <div class="card-image">
          <img src="assets/logo1.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
        </div>
        <div class="card-action">
          <a href="../product/product.component.html">hijab top brand</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card small">

        <div class="card-image">
          <img src="assets/logo2.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
        </div>
        <div class="card-action">
          <a href="../product/product.component1.html">hijab arab</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card small">

        <div class="card-image">
          <img src="assets/logo3.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
        </div>
        <div class="card-action">
          <a href="../product/product.component.html">hijab simpel</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card small">

        <div class="card-image">
          <img src="assets/logo4.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
        </div>
        <div class="card-action">
          <a href="../product/product.component.html">hijab muslimah</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card small">

        <div class="card-image">
          <img src="assets/logo5.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
        </div>
        <div class="card-action">
          <a href="../product/product.component.html">hijab simpel</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card small">

        <div class="card-image">
          <img src="assets/logo6.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
        </div>
        <div class="card-action">
          <a href="../product/product.component1.html">hijab kekinian</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card small">

        <div class="card-image">
          <img src="assets/logo7.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
        </div>
        <div class="card-action">
          <a href="../product/product.component.html">hijab anak muda</a>
        </div>
      </div>
    </div>
  </div>
</div>