
<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">home</a></li>
      <li><a href="produck.html">produk</a></li>
      <li><a href="kontak.html">kontak</a></li>
      <li><a href="tentangkami.html">tentang kami</a></li>
    </ul>
  </div>
</nav>
     <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="assets/logo1.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Bahan : kain woll </p>
              <p> Warna : pink </p>
               <p>Ukuran: XL,M,l,S</p> 
               <p>Stock : 25 lusin</p>
            </div>
            <div class="card-action">
              <a href="#">Beli Sekarang</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="assets/logo2.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Bahan : kain woll </p>
                <p> Warna : pink </p>
                 <p>Ukuran: XL,M,l,S</p> 
                 <p>Stock : 25 lusin</p>
            </div>
            <div class="card-action">
              <a href="#">Beli Sekarang</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="assets/logo3.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Bahan : kain woll </p>
                <p> Warna : pink </p>
                 <p>Ukuran: XL,M,l,S</p> 
                 <p>Stock : 25 lusin</p>
            </div>
            <div class="card-action">
              <a href="#">Beli Sekarang</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="assets/logo4.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Bahan : kain sutra </p>
                <p> Warna : pink,merah,coklat, </p>
                 <p>Ukuran: XL,M,l,S</p> 
                 <p>Stock : 25 lusin</p>
            </div>
            <div class="card-action">
              <a href="#">Beli Sekarang</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="assets/logo.jpg">
              <span class="card-title">hijab modern</span>
            </div>
            <div class="card-content">
              <p>Bahan : kain woll </p>
                <p> Warna : pink </p>
                 <p>Ukuran: XL,M,l,S</p> 
                 <p>Stock : 25pcs</p>
            </div> 
            <div class="card-action">
              <a href="#">Beli Sekarang</a>
            </div>
          </div>
        </div>
      </div>
      <div class="progress">
      <div class="indeterminate"></div>
  </div>
